@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body, #root {
    width: 100%;
    height: 100%;
    background-color: #f3f4f6;
}

html {
    overflow-y: scroll;
}

#root {
    display: grid;
    grid-template-columns: 250px 1fr;
}

input:focus {
    outline: none;
}

.root-collapsed {
    grid-template-columns: 1fr !important;
}

.root-collapsed > .navbar {
    animation: 1s navbar-slide-collapse forwards;
}

.root-collapsed > .navbar-trigger {
    animation: 1s navbar-trigger-slide-collapse forwards;
}

@keyframes navbar-slide-collapse {
    0% {
        left: 0;
    }

    100% {
        left: -250px;
    }
}

@keyframes navbar-trigger-slide-collapse {
    0% {
        left: 250px;
    }

    100% {
        left: 0px;
    }
}

.ui-container {
    grid-column: 2;
    display: grid;
    grid-template-rows: 100px 20px 1fr 200px;
    position: relative;
}

.ad-container {
    grid-row: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.root-collapsed > .ui-container {
    grid-column: 1;
}

@media screen and (max-width: 800px) {
    #root {
        grid-template-columns: 1fr !important;
    }

    .navbar {
        left: -250px;
    }

    .root-collapsed > .navbar-trigger {
        left: 0;
    }
    
    .ui-container {
        grid-column: 1;
        max-width: 100vw !important;
        /* min-width: 450px !important; */
    }

    .ui-container > * {
        max-width: 100vw !important;
    }

    /* .navbar-trigger {
        width: 30px !important;
        height: 18px !important;
    }

    .navbar-burger-line {
        width: 15px !important;
        height: 1.2px !important;
    } */
}