.dropdown {
    position: relative;
}

.dropdown-toggle {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f3f4f6;
    box-shadow: 0 1px 3px 0 #00000034;
    position: relative;
    font-size: 0.8rem;
}

.dropdown-toggle::after {
    content: "▾";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) scaleY(0.5);
    font-size: 2rem;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto !important;
    margin-top: 4px;
    padding: 4px 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    z-index: 10;
    font-size: 0.8rem;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    list-style: none;
}

.dropdown-menu li:hover {
    background: #f0f0f0;
}

.dropdown.open .dropdown-menu {
    display: block;
}